In [66]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt # for data visualization
import seaborn as sns # for statistical data visualization
%matplotlib inline

from sklearn.preprocessing import LabelEncoder

from dataset_dir import excel_dir,stata_dir

import warnings
warnings.filterwarnings('ignore')

pd.io.formats.excel.ExcelFormatter.header_style = None
pd.options.display.max_rows = None
pd.options.display.max_columns = None
r=pd.read_stata(stata_dir()+"Teamup_women_Dataset_Lagos.dta",convert_categoricals=False)
r=r[r['level2']==7]

data=r.copy()
cut_starting=list(data.columns[:26])
cut_ending=list(data.columns[-23:])
for i,j in enumerate(cut_ending):
    if(j=="instanceid"):
        del cut_ending[i]
    

for c in cut_starting:
    del data[c]
for c in cut_ending:
    del data[c]

df=data.copy()

# Exploratory data analysis

df.shape

df.info()

# Drop redundant features

red=[]
for i in df.columns:
    if(df[i].isnull().sum()==df.shape[0]):
        red.append(i)
for i in red:
    del df[i]

df.shape

# fill missing values with special number

for i in df.columns:
    df[i]=df[i].fillna(-91)

df.shape

y=pd.read_excel(excel_dir()+"y.xlsx")

y_ids=y['Respondent ID']

a=df[df['resp_select'].isin(y_ids)]
b=df[~df['resp_select'].isin(y_ids)]

b.shape[0]+a.shape[0]

target=y[['Respondent ID','profile']]
target['resp_select']=y['Respondent ID']
del target['Respondent ID']

m=pd.merge(a,target,how='right',on='resp_select')

m.shape

# declare vector and target variables

del m['res_name']
del m['ward']
del m['hh_name']
del m['q102']
del m['q106_cal']
del m['q211_strategy1']
del m['instanceid']
del m['resp_select']
del m['strat_lab1']

for i in m.columns:
    if(i[0]=="v"):
        del m[i]
for i in m.columns:
    if('strategy' in i):
        del m[i]
for i in m.columns:
    if('cal' in i):
        del m[i]
for i in m.columns:
    if('lab' in i):
        del m[i]
m=m.replace('',-91)
for i in m.columns:
    if(i!='profile'):
        if(m[i].dtype=='object'):
            del m[i]

for i in m.columns:
    if(i!='profile'):
        m[i]=m[i].astype(int)   
cols_ren=[]
for col in m.columns:
    aa=m[col].value_counts().keys()
    bb=m[col].value_counts().values
    for i,j in zip(aa,bb):
        if((i==0)&(j==m.shape[0])):
            cols_ren.append(col)

cols_ren2=[]
for col in m.columns:
    aa=m[col].value_counts().keys()
    bb=m[col].value_counts().values
    for i,j in zip(aa,bb):
        if((i==-91)&(j==m.shape[0])):
            cols_ren2.append(col)

for i in cols_ren:
    m=m.drop(i,axis=1)

for i in cols_ren2:
    m=m.drop(i,axis=1)
le = LabelEncoder()

m['profile'] = le.fit_transform(m['profile'])

<class 'pandas.core.frame.DataFrame'>
Int64Index: 760 entries, 0 to 2287
Columns: 10470 entries, resp_select to instanceid
dtypes: float64(1449), int8(8749), object(272)
memory usage: 16.3+ MB

In [55]:
cols_ren=[]
for col in m.columns:
    aa=m[col].value_counts().keys()
    bb=m[col].value_counts().values
    for i,j in zip(aa,bb):
        if((i==0)&(j==m.shape[0])):
            cols_ren.append(col)

cols_ren2=[]
for col in m.columns:
    aa=m[col].value_counts().keys()
    bb=m[col].value_counts().values
    for i,j in zip(aa,bb):
        if((i==-91)&(j==m.shape[0])):
            cols_ren2.append(col)

for i in cols_ren:
    m=m.drop(i,axis=1)

for i in cols_ren2:
    m=m.drop(i,axis=1)

In [67]:
m.shape

(107, 881)

In [85]:
for i in X.columns:
    print(X[i].value_counts())

0    88
1    19
Name: q12, dtype: int64
1    86
0    13
2     4
3     3
4     1
Name: q13, dtype: int64
5     10
15     9
17     8
22     7
19     6
7      6
14     6
24     5
6      5
0      5
2      4
18     4
10     3
13     3
20     3
1      3
21     3
8      2
3      2
25     2
9      2
23     2
16     2
4      2
26     1
11     1
12     1
Name: q101, dtype: int64
5     10
15     9
17     8
22     7
19     6
7      6
14     6
24     5
6      5
0      5
2      4
18     4
10     3
13     3
20     3
1      3
21     3
8      2
3      2
25     2
9      2
23     2
16     2
4      2
26     1
11     1
12     1
Name: ageyr, dtype: int64
1    106
0      1
Name: q105, dtype: int64
2    57
3    48
0     1
1     1
Name: q106, dtype: int64
5    45
3    25
2    16
1    14
4     6
0     1
Name: q106b, dtype: int64
1    95
0    12
Name: q107, dtype: int64
4    59
8    16
2     8
7     7
9     5
1     4
0     3
5     3
6     1
3     1
Name: q108, dtype: int64
1    55
2    39
0    13
Name: q109, dtype: int64
0    107
Name: q201, dtype: int64
1    53
0    37
2    17
Name: q202, dtype: int64
0    70
3    13
2    10
5     6
4     4
1     3
6     1
Name: q202a, dtype: int64
0    54
1    35
2    13
3     5
Name: q202b, dtype: int64
0    90
1     6
2     5
3     4
5     1
4     1
Name: q202c, dtype: int64
2    105
0      1
1      1
Name: q203, dtype: int64
0    107
Name: q204, dtype: int64
1    106
0      1
Name: q207, dtype: int64
1    89
0    18
Name: q209a, dtype: int64
3    89
1    11
2     6
0     1
Name: q209b, dtype: int64
0    96
2     9
1     2
Name: q210, dtype: int64
1    60
0    47
Name: q211a_1, dtype: int64
0    86
1    21
Name: q211a_2, dtype: int64
0    100
1      7
Name: q211a_4, dtype: int64
0    103
1      4
Name: q211a_5, dtype: int64
0    106
1      1
Name: q211a_6, dtype: int64
0    106
1      1
Name: q211a_8, dtype: int64
0    101
1      6
Name: q211a_9, dtype: int64
0    106
1      1
Name: q211a_11, dtype: int64
0    98
1     9
Name: q211a_12, dtype: int64
0    95
1    12
Name: q211a_14, dtype: int64
0    105
1      2
Name: q211a_17, dtype: int64
0    106
1      1
Name: q211a_18, dtype: int64
0    106
1      1
Name: q211a_20, dtype: int64
0    105
1      2
Name: q211a_21, dtype: int64
0    106
1      1
Name: q211a_22, dtype: int64
0    106
1      1
Name: q211a_96, dtype: int64
0    60
1    36
2    11
Name: q211c_1, dtype: int64
1    78
0    21
2     8
Name: q211c_2, dtype: int64
0    104
1      3
Name: q211c_3, dtype: int64
1    97
0     7
2     3
Name: q211c_4, dtype: int64
1    102
0      4
2      1
Name: q211c_5, dtype: int64
1    106
0      1
Name: q211c_6, dtype: int64
1    71
0    36
Name: q211c_8, dtype: int64
1    69
0    38
Name: q211c_9, dtype: int64
1    72
0    35
Name: q211c_10, dtype: int64
1    72
0    35
Name: q211c_11, dtype: int64
1    65
0    41
2     1
Name: q211c_12, dtype: int64
1    72
0    35
Name: q211c_13, dtype: int64
1    61
0    43
2     3
Name: q211c_14, dtype: int64
1    72
0    35
Name: q211c_15, dtype: int64
1    72
0    35
Name: q211c_16, dtype: int64
1    71
0    36
Name: q211c_17, dtype: int64
1    71
0    36
Name: q211c_18, dtype: int64
1    72
0    35
Name: q211c_19, dtype: int64
1    71
0    36
Name: q211c_20, dtype: int64
1    72
0    35
Name: q211c_21, dtype: int64
1    71
0    36
Name: q211c_22, dtype: int64
1    72
0    35
Name: q211c_23, dtype: int64
1    72
0    35
Name: q211c_24, dtype: int64
1    72
0    35
Name: q211c_25, dtype: int64
1    72
0    35
Name: q211c_26, dtype: int64
1    72
0    35
Name: q211c_27, dtype: int64
1    72
0    35
Name: q211c_28, dtype: int64
1    48
2    40
3    11
0     8
Name: q211a_c_count, dtype: int64
1    99
0     8
Name: confirm_a, dtype: int64
0    105
1      2
Name: q213a_11, dtype: int64
0    106
1      1
Name: q213a_12, dtype: int64
0    97
1    10
Name: q213a_13, dtype: int64
0    104
1      3
Name: q213a_14, dtype: int64
0    106
1      1
Name: q213a_15, dtype: int64
0    97
1    10
Name: q213a_16, dtype: int64
0    80
1    27
Name: q213a_17, dtype: int64
0    66
1    41
Name: q213a_18, dtype: int64
0    105
1      2
Name: q213a_19, dtype: int64
0    106
1      1
Name: q213a_196, dtype: int64
1    49
0    36
2    20
3     1
4     1
Name: q213c_1, dtype: int64
0    102
1      5
Name: q213a_22, dtype: int64
0    100
1      7
Name: q213a_23, dtype: int64
0    104
1      3
Name: q213a_24, dtype: int64
0    105
1      2
Name: q213a_25, dtype: int64
0    104
1      3
Name: q213a_26, dtype: int64
0    96
1    11
Name: q213a_27, dtype: int64
0    106
1      1
Name: q213a_28, dtype: int64
0    103
1      4
Name: q213a_29, dtype: int64
0    106
1      1
Name: q213a_210, dtype: int64
0    105
1      2
Name: q213a_296, dtype: int64
0    78
1    24
2     5
Name: q213c_2, dtype: int64
0    106
1      1
Name: q213a_37, dtype: int64
0    106
1      1
Name: q213a_39, dtype: int64
0    106
1      1
Name: q213a_396, dtype: int64
0    106
1      1
Name: q213b_31, dtype: int64
0    106
1      1
Name: q213b_33, dtype: int64
0    106
1      1
Name: q213b_311, dtype: int64
0    106
1      1
Name: q213b_312, dtype: int64
0    104
1      2
2      1
Name: q213c_3, dtype: int64
0    106
1      1
Name: q213a_44, dtype: int64
0    106
1      1
Name: q213a_45, dtype: int64
0    106
1      1
Name: q213a_46, dtype: int64
0    99
1     8
Name: q213a_47, dtype: int64
0    106
1      1
Name: q213a_497, dtype: int64
0    103
1      4
Name: q213b_48, dtype: int64
0    101
1      6
Name: q213b_412, dtype: int64
0    97
1     5
2     5
Name: q213c_4, dtype: int64
0    105
1      2
Name: q213a_57, dtype: int64
0    106
1      1
Name: q213a_597, dtype: int64
0    105
1      2
Name: q213a_596, dtype: int64
0    106
1      1
Name: q213b_59, dtype: int64
0    103
1      4
Name: q213b_512, dtype: int64
0    106
1      1
Name: q213b_596, dtype: int64
0    102
1      3
2      2
Name: q213c_5, dtype: int64
0    106
1      1
Name: q213a_66, dtype: int64
0    106
1      1
Name: q213a_67, dtype: int64
0    106
1      1
Name: q213b_612, dtype: int64
0    106
1      1
Name: q213c_6, dtype: int64
0    106
1      1
Name: q213a_88, dtype: int64
0    106
1      1
Name: q213c_8, dtype: int64
0    106
1      1
Name: q213a_93, dtype: int64
0    106
1      1
Name: q213a_94, dtype: int64
0    106
1      1
Name: q213a_95, dtype: int64
0    105
1      2
Name: q213a_96, dtype: int64
0    105
1      2
Name: q213a_97, dtype: int64
0    106
1      1
Name: q213a_910, dtype: int64
0    106
1      1
Name: q213b_92, dtype: int64
0    106
1      1
Name: q213b_97, dtype: int64
0    106
1      1
Name: q213b_98, dtype: int64
0    106
1      1
Name: q213b_913, dtype: int64
0    104
1      3
Name: q213b_996, dtype: int64
0    101
1      3
2      2
3      1
Name: q213c_9, dtype: int64
0    106
1      1
Name: q213a_1196, dtype: int64
0    106
1      1
Name: q213c_11, dtype: int64
0    106
1      1
Name: q213a_122, dtype: int64
0    105
1      2
Name: q213a_123, dtype: int64
0    106
1      1
Name: q213a_125, dtype: int64
0    105
1      2
Name: q213a_126, dtype: int64
0    98
1     9
Name: q213a_127, dtype: int64
0    106
1      1
Name: q213a_128, dtype: int64
0    105
1      2
Name: q213a_129, dtype: int64
0    106
1      1
Name: q213b_121, dtype: int64
0    97
1    10
Name: q213b_123, dtype: int64
0    96
1     9
3     1
2     1
Name: q213c_12, dtype: int64
0    104
1      3
Name: q213a_141, dtype: int64
0    102
1      5
Name: q213a_143, dtype: int64
0    106
1      1
Name: q213a_144, dtype: int64
0    106
1      1
Name: q213a_145, dtype: int64
0    106
1      1
Name: q213a_146, dtype: int64
0    104
1      3
Name: q213a_147, dtype: int64
0    101
1      6
Name: q213a_148, dtype: int64
0    106
1      1
Name: q213a_149, dtype: int64
0    96
1    11
Name: q213b_143, dtype: int64
0    102
1      5
Name: q213b_145, dtype: int64
0    106
1      1
Name: q213b_1411, dtype: int64
0    91
1    14
2     2
Name: q213c_14, dtype: int64
0    106
1      1
Name: q213a_173, dtype: int64
0    106
1      1
Name: q213a_177, dtype: int64
0    105
1      2
Name: q213b_171, dtype: int64
0    105
1      2
Name: q213c_17, dtype: int64
0    106
1      1
Name: q213a_187, dtype: int64
0    106
1      1
Name: q213b_18, dtype: int64
0    106
1      1
Name: q213b_181, dtype: int64
0    106
1      1
Name: q213c_18, dtype: int64
0    106
1      1
Name: q213a_20, dtype: int64
0    106
1      1
Name: q213a_203, dtype: int64
0    106
1      1
Name: q213b_20, dtype: int64
0    106
1      1
Name: q213b_201, dtype: int64
0    106
1      1
Name: q213c_20, dtype: int64
0    106
1      1
Name: q213a_215, dtype: int64
0    105
1      2
Name: q213a_217, dtype: int64
0    105
2      1
1      1
Name: q213c_21, dtype: int64
0    106
1      1
Name: q213aa_22, dtype: int64
0    106
1      1
Name: q213a_227, dtype: int64
0    106
1      1
Name: q213b_22, dtype: int64
0    106
1      1
Name: q213b_225, dtype: int64
0    106
1      1
Name: q213c_22, dtype: int64
2    99
1     6
0     2
Name: q214a, dtype: int64
1    101
0      4
2      2
Name: q214b, dtype: int64
1    62
0    45
Name: q215_1, dtype: int64
0    85
1    22
Name: q215_2, dtype: int64
0    97
1    10
Name: q215_4, dtype: int64
0    102
1      5
Name: q215_5, dtype: int64
0    106
1      1
Name: q215_6, dtype: int64
0    106
1      1
Name: q215_8, dtype: int64
0    100
1      7
Name: q215_9, dtype: int64
0    106
1      1
Name: q215_11, dtype: int64
0    102
1      5
Name: q215_12, dtype: int64
0    93
1    14
Name: q215_14, dtype: int64
0    105
1      2
Name: q215_17, dtype: int64
0    106
1      1
Name: q215_18, dtype: int64
0    106
1      1
Name: q215_20, dtype: int64
0    105
1      2
Name: q215_21, dtype: int64
0    105
1      2
Name: q215_22, dtype: int64
0    99
1     8
Name: q216_1, dtype: int64
0    105
1      2
Name: q216_2, dtype: int64
0    106
1      1
Name: q216_3, dtype: int64
0    106
1      1
Name: q216_4, dtype: int64
0    106
1      1
Name: q216_8, dtype: int64
0    106
1      1
Name: q216_12, dtype: int64
0    103
1      4
Name: q216_14, dtype: int64
0    106
1      1
Name: q216_21, dtype: int64
0    106
1      1
Name: q216_23, dtype: int64
0    83
1    23
2     1
Name: q216c_1, dtype: int64
1    67
0    37
2     3
Name: q216c_2, dtype: int64
1    91
0    14
2     2
Name: q216c_3, dtype: int64
1    83
0    24
Name: q216c_4, dtype: int64
1    89
0    18
Name: q216c_5, dtype: int64
1    93
0    14
Name: q216c_6, dtype: int64
1    94
0    13
Name: q216c_7, dtype: int64
1    58
0    49
Name: q216c_8, dtype: int64
1    55
0    51
2     1
Name: q216c_9, dtype: int64
1    60
0    47
Name: q216c_10, dtype: int64
1    59
0    47
2     1
Name: q216c_11, dtype: int64
1    55
0    51
2     1
Name: q216c_12, dtype: int64
1    60
0    47
Name: q216c_13, dtype: int64
0    58
1    48
2     1
Name: q216c_14, dtype: int64
1    60
0    47
Name: q216c_15, dtype: int64
1    60
0    47
Name: q216c_16, dtype: int64
1    59
0    48
Name: q216c_17, dtype: int64
1    59
0    48
Name: q216c_18, dtype: int64
1    60
0    47
Name: q216c_19, dtype: int64
1    59
0    48
Name: q216c_20, dtype: int64
1    59
0    48
Name: q216c_21, dtype: int64
1    59
0    48
Name: q216c_22, dtype: int64
1    59
0    48
Name: q216c_23, dtype: int64
1    60
0    47
Name: q216c_24, dtype: int64
1    60
0    47
Name: q216c_25, dtype: int64
1    60
0    47
Name: q216c_26, dtype: int64
1    60
0    47
Name: q216c_27, dtype: int64
1    60
0    47
Name: q216c_28, dtype: int64
1    45
2    30
3    17
0    13
4     1
5     1
Name: q216_ac_count, dtype: int64
1    94
0    13
Name: confirm_b, dtype: int64
0    95
1    12
Name: q217, dtype: int64
0    95
1    12
Name: q2172, dtype: int64
0    106
1      1
Name: q2181, dtype: int64
0    102
1      5
Name: q2182, dtype: int64
0    82
1    18
2     7
Name: q219, dtype: int64
1    82
0    25
Name: strat_combine1, dtype: int64
0    72
1    35
Name: strat_combine2, dtype: int64
0    102
1      5
Name: strat_combine3, dtype: int64
0    95
1    12
Name: strat_combine4, dtype: int64
0    101
1      6
Name: strat_combine5, dtype: int64
0    106
1      1
Name: strat_combine6, dtype: int64
0    105
1      2
Name: strat_combine8, dtype: int64
0    99
1     8
Name: strat_combine9, dtype: int64
0    105
1      2
Name: strat_combine11, dtype: int64
0    94
1    13
Name: strat_combine12, dtype: int64
0    82
1    25
Name: strat_combine14, dtype: int64
0    105
1      2
Name: strat_combine17, dtype: int64
0    106
1      1
Name: strat_combine18, dtype: int64
0    106
1      1
Name: strat_combine20, dtype: int64
0    104
1      3
Name: strat_combine21, dtype: int64
0    105
1      2
Name: strat_combine22, dtype: int64
0    106
1      1
Name: strat_combine23, dtype: int64
1    42
0    41
2    22
3     1
4     1
Name: q211q216, dtype: int64
0     50
1     17
7     15
6      7
5      5
4      4
3      3
8      2
11     1
9      1
10     1
2      1
Name: q219b_1, dtype: int64
0    41
1    26
2    17
3     9
6     8
5     4
7     1
4     1
Name: q219b_2, dtype: int64
0     83
1      5
3      4
7      3
6      2
8      2
10     2
9      2
5      1
4      1
11     1
2      1
Name: q219b_3, dtype: int64
0    105
2      1
1      1
Name: q219b_4, dtype: int64
0    106
1      1
Name: q219b_5, dtype: int64
0    106
1      1
Name: q219b_6, dtype: int64
0     66
1      8
7      7
3      6
8      6
4      4
5      4
9      2
10     1
11     1
6      1
2      1
Name: q220, dtype: int64
0    41
1    34
2    24
3     8
Name: q220a_1, dtype: int64
1    56
0    41
2    10
Name: q220b_1, dtype: int64
1    56
0    51
Name: q220b_11, dtype: int64
0    97
1    10
Name: q220b_12, dtype: int64
0    70
1    37
Name: q220c_11, dtype: int64
0    85
1    22
Name: q220c_12, dtype: int64
0    102
1      5
Name: q220c_15, dtype: int64
0    95
1    12
Name: q220c_16, dtype: int64
0    97
1    10
Name: q220c_18, dtype: int64
0    94
1    13
Name: q220c_19, dtype: int64
0    86
1    21
Name: q220c_110, dtype: int64
0    102
1      5
Name: q220c_111, dtype: int64
0    104
1      3
Name: q220c_112, dtype: int64
0    106
1      1
Name: q220c_114, dtype: int64
2    64
0    41
1     2
Name: q220d_1, dtype: int64
0    105
1      2
Name: q220e_16, dtype: int64
0    106
1      1
Name: q220e_17, dtype: int64
0    105
1      2
Name: q220f_1, dtype: int64
1    48
0    41
2    18
Name: q220g_1, dtype: int64
0    97
1    10
Name: q220h_12, dtype: int64
0    103
1      4
Name: q220h_14, dtype: int64
0    106
1      1
Name: q220h_16, dtype: int64
0    106
1      1
Name: q220h_18, dtype: int64
0    106
1      1
Name: q220h_19, dtype: int64
0    106
1      1
Name: q220h_112, dtype: int64
0    103
1      4
Name: q220h_114, dtype: int64
0    106
1      1
Name: q220h_122, dtype: int64
0    89
2     8
3     5
1     3
4     2
Name: q220i_1, dtype: int64
0    105
1      2
Name: q220j_11, dtype: int64
0    105
1      2
Name: q220j_12, dtype: int64
0    101
1      6
Name: q220j_14, dtype: int64
0    96
1    11
Name: q220j_15, dtype: int64
0    106
1      1
Name: q220j_196, dtype: int64
0    99
1     7
2     1
Name: q220a_2, dtype: int64
0    99
1     8
Name: q220b_21, dtype: int64
0    100
1      7
Name: q220c_21, dtype: int64
0    103
1      4
Name: q220c_22, dtype: int64
0    105
1      2
Name: q220c_25, dtype: int64
0    104
1      3
Name: q220c_26, dtype: int64
0    105
1      2
Name: q220c_28, dtype: int64
0    104
1      3
Name: q220c_29, dtype: int64
0    106
1      1
Name: q220c_210, dtype: int64
0    106
1      1
Name: q220c_212, dtype: int64
0    99
1     8
Name: q220d_2, dtype: int64
0    99
1     8
Name: q220g_2, dtype: int64
0    106
1      1
Name: q220a_3, dtype: int64
0    106
1      1
Name: q220b_3, dtype: int64
0    106
1      1
Name: q220b_31, dtype: int64
0    106
1      1
Name: q220c_32, dtype: int64
0    106
1      1
Name: q220d_3, dtype: int64
0    106
1      1
Name: q220e_3, dtype: int64
0    106
1      1
Name: q220e_31, dtype: int64
0    106
1      1
Name: q220f_3, dtype: int64
0    106
1      1
Name: q220g_3, dtype: int64
0    101
2      3
1      2
3      1
Name: q220a_4, dtype: int64
0    101
1      5
2      1
Name: q220b_4, dtype: int64
0    102
1      5
Name: q220b_41, dtype: int64
0    106
1      1
Name: q220b_42, dtype: int64
0    104
1      3
Name: q220c_41, dtype: int64
0    104
1      3
Name: q220c_42, dtype: int64
0    106
1      1
Name: q220c_46, dtype: int64
0    105
1      2
Name: q220c_48, dtype: int64
0    104
1      3
Name: q220c_49, dtype: int64
0    105
1      2
Name: q220c_411, dtype: int64
0    104
1      3
Name: q220c_412, dtype: int64
0    101
1      6
Name: q220d_4, dtype: int64
0    101
1      4
2      2
Name: q220g_4, dtype: int64
0    105
1      1
2      1
Name: q220h_4, dtype: int64
0    106
1      1
Name: q220h_41, dtype: int64
0    106
1      1
Name: q220h_421, dtype: int64
0    105
2      1
1      1
Name: q220i_4, dtype: int64
0    105
1      2
Name: q220j_4, dtype: int64
0    105
1      2
Name: q220j_45, dtype: int64
0    103
1      2
2      1
3      1
Name: q220a_5, dtype: int64
0    103
1      4
Name: q220b_5, dtype: int64
0    103
1      4
Name: q220b_51, dtype: int64
0    106
1      1
Name: q220c_51, dtype: int64
0    104
1      3
Name: q220c_52, dtype: int64
0    106
1      1
Name: q220c_58, dtype: int64
0    106
1      1
Name: q220c_59, dtype: int64
0    106
1      1
Name: q220c_512, dtype: int64
0    103
1      4
Name: q220d_5, dtype: int64
0    103
1      4
Name: q220g_5, dtype: int64
0    103
2      2
3      1
1      1
Name: q220a_9, dtype: int64
0    103
1      4
Name: q220b_9, dtype: int64
0    103
1      4
Name: q220b_91, dtype: int64
0    104
1      3
Name: q220c_91, dtype: int64
0    104
1      3
Name: q220c_92, dtype: int64
0    106
1      1
Name: q220c_94, dtype: int64
0    106
1      1
Name: q220c_95, dtype: int64
0    106
1      1
Name: q220c_911, dtype: int64
0    106
1      1
Name: q220c_912, dtype: int64
0    103
1      4
Name: q220d_9, dtype: int64
0    103
1      4
Name: q220g_9, dtype: int64
0    106
1      1
Name: q220h_91, dtype: int64
0    104
1      3
Name: q220h_92, dtype: int64
0    106
1      1
Name: q220h_921, dtype: int64
0    103
1      3
2      1
Name: q220i_9, dtype: int64
0    105
1      2
Name: q220j_94, dtype: int64
0    104
1      3
Name: q220j_95, dtype: int64
0    106
1      1
Name: q220a_11, dtype: int64
0    106
1      1
Name: q220bb_11, dtype: int64
0    106
1      1
Name: q220b_111, dtype: int64
0    106
1      1
Name: q220c_115, dtype: int64
0    106
1      1
Name: q220c_116, dtype: int64
0    106
1      1
Name: q220d_11, dtype: int64
0    106
1      1
Name: q220g_11, dtype: int64
0    106
1      1
Name: q220h_11, dtype: int64
0    106
1      1
Name: q220hh_111, dtype: int64
0    106
1      1
Name: q220i_11, dtype: int64
0    106
1      1
Name: q220jj_11, dtype: int64
0    106
1      1
Name: q220j_115, dtype: int64
0    100
2      3
1      3
3      1
Name: q220a_12, dtype: int64
0    104
1      3
Name: q220b_121, dtype: int64
0    103
1      4
Name: q220b_122, dtype: int64
0    101
1      6
Name: q220c_121, dtype: int64
0    106
1      1
Name: q220c_122, dtype: int64
0    106
1      1
Name: q220c_125, dtype: int64
0    105
1      2
Name: q220c_129, dtype: int64
0    103
1      4
Name: q220c_1211, dtype: int64
0    105
1      2
Name: q220c_1212, dtype: int64
0    100
1      7
Name: q220d_12, dtype: int64
0    100
2      6
1      1
Name: q220g_12, dtype: int64
0    101
1      3
2      3
Name: q220hh_12, dtype: int64
0    104
1      3
Name: q220hh_121, dtype: int64
0    104
1      3
Name: q220h_1214, dtype: int64
0    101
2      3
1      2
3      1
Name: q220i_12, dtype: int64
0    105
1      2
Name: q220j_122, dtype: int64
0    104
1      3
Name: q220j_124, dtype: int64
0    105
1      2
Name: q220j_125, dtype: int64
0    101
2      3
3      2
1      1
Name: q220a_14, dtype: int64
0    101
1      4
2      2
Name: q220bb_14, dtype: int64
0    103
1      4
Name: q220b_141, dtype: int64
0    105
1      2
Name: q220b_142, dtype: int64
0    103
1      4
Name: q220c_141, dtype: int64
0    106
1      1
Name: q220c_142, dtype: int64
0    106
1      1

In [83]:
X = m.drop(['profile'], axis=1)
y = m['profile']

In [84]:
for i in X.columns:
    X[i] = le.fit_transform(X[i])

In [86]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.33, random_state = 42)

In [87]:
# check the shape of X_train and X_test
X_train.shape, X_test.shape

((71, 880), (36, 880))

In [90]:
from sklearn.tree import DecisionTreeClassifier

In [91]:
# instantiate the DecisionTreeClassifier model with criterion gini index

clf_gini = DecisionTreeClassifier(criterion='gini', max_depth=3, random_state=0)


# fit the model
clf_gini.fit(X_train, y_train)

DecisionTreeClassifier(max_depth=3, random_state=0)

In [92]:
y_pred_gini = clf_gini.predict(X_test)

In [93]:
from sklearn.metrics import accuracy_score
print('Model accuracy score with criterion gini index: {0:0.4f}'. format(accuracy_score(y_test, y_pred_gini)))

Model accuracy score with criterion gini index: 0.7222